/*
If a child element has been placed then the auto-placement algorithm will place that first and then work out what to do with any child elements that have not been placed.

In this example I have placed box2 on the grid and also made it span 3 grid lines. The rest of the boxes continue to lay out as before.*/

* {
  font-family: sans-serif;
}

body {
  max-width: 1120px;
  margin: 0 auto;
}

.wrapper{
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, auto);

}
.box{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.box:nth-child(even){
  background-color: #ccc;
  color: #000;
}

.box2{
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  outline: 2px solid red;
  z-index: 10;
}
