/*
In this example I am creating a grid that contains as many 100 pixel column tracks as will fit into the container (in the example this is the viewport) and naming them col. I can then position the grid items using named lines and spans.*/

* {
  font-family: sans-serif;
}

body {
  max-width: 1120px;
  margin: 0 auto;
}

.wrapper{
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, [col] 100px);
  grid-template-rows: repeat(auto-fill, [row] auto)
}

.box{
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 150%;

}

.a{
  grid-column: col / span 2;
  grid-row: row;
}

.b{
  grid-column: col 3 / span 2;
  grid-row: row;


}

.c{
  grid-column: col;
  grid-row: row 2;
}

.d{
  grid-column:  col 2 / span 3;
  grid-row: row 2;
}

.e {
  grid-column: col 1 / span 4;
  grid-row: row 3;
}
