/*
To create Grid Areas that are larger than a single grid track we specify an end line that is more than one track away.

Here I am using the grid-column and grid-row shorthand and have omitted the end value for any items that span one row or column track.

*/

* {
  font-family: sans-serif;
}

body{
  max-width: 1920px;
  margin:0 auto;
  /*centering wrapper*/
}

/* Parent element */

.wrapper{
  max-width: 620px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap:10px;
  background-color: #fff;
  color: #444;
  @include transition(0.4s);

}

/* Direct children (child) */
.box{
  background-color: #444;
  color:#fff;
  border-radius: 5px;
  padding:20px;
  font-size:150%;
  text-align: center;

}

.a {
       grid-column: 1;
       grid-row: 2;
   }
   .b {
       grid-column: 1 / 3;
       grid-row: 1;
   }
   .c {
       grid-column: 2;
       grid-row: 2;
   }
   .d {
       grid-column: 3;
       grid-row: 1 / 3;
   }

   @media only screen and (max-width:768px){

     .wrapper{
       grid-template-columns: 80%;
     }
     .a{
       grid-column: 1;
       grid-row: 1;

     }

     .b{
       grid-column: 1;

       grid-row: 2;
     }

     .c{
       grid-column: 1;

       grid-row: 3;

     }

     .d{
       grid-column: 1;

       grid-row: 4;
     }

   }
